services:
  backend:
    build: backend
    container_name: backend
    environment:
      REDIS_HOST: redis
    ports:
      - 8080:8080
  frontend:
    build: frontend
    container_name: frontend
    ports:
      - 5000:5000
  redis:
    image: redis
    container_name: redis

